body {
  background-color: black;
  color: white;
  text-align: center;
}

section {
  margin-top: 30vh;
  font-weight: bold;
  font-size: 1.9em;
}

h1 {
  margin-top: 45vh;
}

div {
  margin-top: 2em;
}

/* ul {
  text-align: left;
  margin-left: 200px;
} */
